:root {
  --an-font-color: #ffffff;
  --an-dark-font-color: #222222;
  --an-divider: rgba(0, 0, 0, 0.1);
  --an-primary: #19A8D7;
  --an-primary-hover: #168EC1;
  --an-primary-focus: #1080AF;
  --an-secondary: #F9F9F9;
  --an-secondary-hover: #E9E9E9;
  --an-secondary-focus: #DEDEDE;
  --an-success: #08EB5B;
  --an-success-hover: #00D84E;
  --an-success-focus: #03BC46;
  --an-warn: #FFCC00;
  --an-warn-hover: #D8AC00;
  --an-warn-focus: #C59D00;
  --an-danger: #E90000;
  --an-danger-hover: #C50000;
  --an-danger-focus: #AA0000;
  --an-info: #0088FF;
  --an-info-hover: #0073D8;
  --an-info-focus: #045FAF;
}
