$fontColor: #ffffff;
$darkFontColor: #222222;

$divider: rgba(0, 0, 0, 0.1);

$primary: #19A8D7;
$primaryOnHover: #168EC1;
$primaryOnFocus: #1080AF;

$secondary: #F9F9F9;
$secondaryOnHover: #E9E9E9;
$secondaryOnFocus: #DEDEDE;

$success: #08EB5B;
$successOnHover: #00D84E;
$successOnFocus: #03BC46;

$warn: #FFCC00;
$warnOnHover: #D8AC00;
$warnOnFocus: #C59D00;

$danger: #E90000;
$dangerOnHover: #C50000;
$dangerOnFocus: #AA0000;

$info: #0088FF;
$infoOnHover: #0073D8;
$infoOnFocus: #045FAF;