.an-input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.an-input-file+.an-input-file-label {
    display: flex;
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    outline: none;
    height: 35px;
    width: 100%;
    max-width: 380px;
    cursor: pointer;
    .an-input-file-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        width: 50%;
        text-align: center;
    }
    .an-input-file-filename {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 15px;
        overflow: hidden;
        width: 50%;
        text-align: center;
    }
}

.an-input-file-primary+.an-input-file-label {
    border-color: var(--an-primary);
    .an-input-file-btn {
        color: var(--an-font-color);
        background: var(--an-primary);
    }
}

.an-input-file-secondary+.an-input-file-label {
    border-color: var(--an-secondary);
    .an-input-file-btn {
        color: var(--an-font-color);
        background: var(--an-secondary);
    }
}

.an-input-file-success+.an-input-file-label {
    border-color: var(--an-success);
    .an-input-file-btn {
        color: var(--an-font-color);
        background: var(--an-success);
    }
}

.an-input-file-warn+.an-input-file-label {
    border-color: var(--an-warn);
    .an-input-file-btn {
        color: var(--an-font-color);
        background: var(--an-warn);
    }
}

.an-input-file-danger+.an-input-file-label {
    border-color: var(--an-danger);
    .an-input-file-btn {
        color: var(--an-font-color);
        background: var(--an-danger);
    }
}

.an-input-file-info+.an-input-file-label {
    border-color: var(--an-info);
    .an-input-file-btn {
        color: var(--an-font-color);
        background: var(--an-info);
    }
}